<h1>Rent my bar</h1>

<div class="container">
  <div class="list-index-card-wrapper">

      <%@bars.each do |bar|%>
        <div class="bar-index-card">
          <%= image_tag 'bar2', class: 'image-list-cover',  alt: "Bar 1 layout" %>

          <div class="bar-card-content">
            <div>
              <h3><%=bar.name%></h3>
              <p><%=bar.address%></p>
            </div>

            <div>
              <h3>£<%=bar.price%></h3>
            </div>
          </div>
        </div>
      <%end%>
  </div>

</div>
