<h1>Rent my bar</h1>

<div class="container">
  <div class="list-index-card-wrapper">

      <%@bars.each do |bar|%>
        <div class="bar-index-card">
          <%= image_tag 'bar1', class: 'image-list-cover',  alt: "Bar 1 layout" %>

          <div class="bar-card-content">
            <p><%=bar.name%></p>
            <p>£<%=bar.price%></p>
          </div>

        </div>
      <%end%>
  </div>

</div>
