<div class="container col-sm-3">

  <h1>Booking form</h1>
  <p>Make a booking</p>
  <%= simple_form_for [@bar, @booking] do |f|%>
    <%= f.input :start_date, as: :date, html5: true%>
    <%= f.input :end_date, as: :date, html5: true%>
    <%= f.submit class: "btn btn-primary" %>
  <%end%>

</div>
