<h1>Booking#new</h1>
<p>Please make your booking</p>
<%= simple_form_for [@bar, @booking] do |f|%>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit class: "btn btn-primary" %>
<%end%>
