<% image = 'banner_homepage_ljjlha' %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dh6gdchfj/image/upload/v1606940861/dishoom-cg_ggahzz.jpg')">


  <div class="container">
    <h1>Rent-my-bar brings <strong>awesome venues</strong> to <strong>thirsty people</strong>!</h1>
    <p>Rent a bar and celebrate at one of our listed bars around the world.</p>

    <%= simple_form_for :search, url: bars_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" placeholder="Search a bar by name or address" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>

  <div class="bar-cards-wrapper">

    <%= render "shared/card" %>

  </div>

<%# Things concerning the testimonials %>
<div class="container">
  <div class="testimonial">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h3 class="mb-4">Testimonials</h3>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-6 mb-4 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(22).webp"
          class="rounded-circle shadow-1-strong" width="100" height="100" />
      </div>
      <p class="lead my-3 text-muted">
        "We needed a nice location for the wedding anniversary of my parents. Finding a nice venue couldn't have been easier"
      </p>
      <p class="font-italic font-weight-normal mb-0">- Anna Morian</p>
    </div>
    <div class="col-md-6 mb-0">
      <div class="d-flex justify-content-center mb-4">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp"
          class="rounded-circle shadow-1-strong" width="100" height="100" />
      </div>
      <p class="lead my-3 text-muted">
        "My husband and I own a small bar and now we rent it out at least 2 days of the week thanks to this platform. It opens the door for us to cater to events and connect us to our customers"
      </p>
      <p class="font-italic font-weight-normal mb-0">- Teresa May</p>
    </div>
  </div>
</div>
</div>
